.project-card-b{
    display:flex;
    flex-direction: column;
    max-width: 315px;
    height: auto;
    border: solid black 2px;
    border-radius: 30px;
}

.project-img{
    max-width: 315px;
    height: auto;
}

@mixin project-tag{
    text-align: center;
    background-color: black;
    color: #D9D9D9;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    font-family: var(--principal-font);
    font-weight: 700;
    font-size: clamp(18px, 1.4vw, 22px);
}

.project-tag{
    @include project-tag;
}

@mixin project-description{
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}

.project-description{
    @include project-description;
}

.project-description h2, .project-description-s h2{
    font-family: var(--sec-font);
    font-weight: 700;
    text-align: center;
    font-size: clamp(20px, 1.6vw, 25px);
    text-transform: uppercase;
}

.project-description p, .project-description span{
    font-family: var(--sec-font);
    font-size: clamp(14px, 1.2vw, 20px);
}

.project-links{
    display: flex;
    margin-top: 1em;
    flex-wrap: wrap;
    text-decoration: underline;
    justify-content: space-between;
}

.project-link-img{
    max-height: 40px;
    width: auto;
}

.project-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--sec-font);
    gap:0.2em;

}

.project-link a{
    color: black;
}

.project-card-s{
    display: flex;
    flex-direction: row;
    max-width: 300px;
    height: auto;
    border: solid black 2px;
    border-radius: 30px;
}

.project-tag-s{
    @include project-tag;
    display: flex;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0px;
    justify-content: center;
    
    
}
.project-tag-s h3 {
    word-break:break-all;
    max-width: clamp(25px,1.9vw, 30px);
    line-height: clamp(20px, 1.6vw, 24px);
    margin: 0.7em;

}

.project-description-s{
    @include project-description;
    max-width: 210px;
}

.project-description-s p, .project-card-s span{
    font-family: var(--sec-font);
    font-size: clamp(12px, 1vw, 15px);
}

.project-link-img-s{
    max-height: 20px;
    width: auto;

}
