@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Montserrat:wght@400;500;700;800&display=swap');

:root{
  --principal-font:  'Montserrat', sans-serif;
  --sec-font: 'Courier Prime', monospace;
}

*a{
  text-decoration: none;
  color: white;
}

body, .app{
  margin:0;
  padding: 0;
  background-color: #d9d9d9;
}

@mixin section-titles{
  font-family: var(--principal-font);
  font-weight: 900;
  line-height:1em;
  font-size: clamp(40px, 5.2vw, 75px);
}


/*home section*/

/*reminder: 100vw = 1440 px*/

.home{
  padding-top: 60px; /*nav height*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
}

.left-bar{
  background-color: black;
  color: #d9d9d9;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.left-bar h2{
  font-family: var(--sec-font);
  font-size: clamp(22px, 3.5vw, 50px);
  font-weight: 100;
  line-height: 10px;
}

.left-bar ul{
  list-style: none;
  font-family: var(--principal-font);
  font-size:  clamp(16px, 1.4vw, 22px);
  margin:0;
  margin-left: -35px;
}
.picture{
  max-width: 240px;
  height: auto;
  border-radius: 200px;
  align-self: center;
}

.left-bar h3{
  font-family: var(--sec-font);
  font-weight: 100;
  font-size:  clamp(16px, 1.4vw, 22px);
  text-decoration: underline;
  align-self: center;
}

.home-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-icon{
  max-width: 70px;
  height: auto;
  cursor: pointer;
}

.presentation{
  padding: 2em;
  display: flex;
  flex-direction: column;
}
.presentation h1{
  @include section-titles;
  margin-bottom: -20px;
}

.presentation h2{
  font-family: var(--principal-font);
  font-weight: 700;
  opacity: 0.8;
  font-size: clamp(32px, 2.45vw, 40px)
}

.presentation p{
  font-family: var(--sec-font);
  font-weight: 200;
  font-size: clamp(16px, 1.4vw, 25px);
  max-width: 550px;

}


.buttons-home{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:0.5em;
}

@mixin button-style{
  background-color: black;
  color: #d9d9d9;
  border: 0;
  width: 210px;
  height: 70px;
  font-family: var(--principal-font);
  font-size: clamp(18px, 1.3vw, 20px);
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 0.5em 1em;

}

.buttons-home button{
  @include button-style;
}

.buttons-home button:hover{
  background: linear-gradient(to right, #888888, #3d3d3d);
  cursor: pointer;
}

.cta-home{
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  text-align: left;
  
}

.music-home{
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  text-align: right;
}

/*mq for home section, first breakpoint is for the left-bar presentation structure to mantain the aesthetics*/

@media (max-width: 1120px) {

  .left-bar {
    width: 100%; 
    text-align: center;
  }

  .presentation {
    width: 100%;
  }

  .presentation p{
    max-width: 1000px;
  }
  
}

@media (max-width: 500px){
  .buttons-home {
    flex-direction: row;
    justify-content: space-between;
  }

  .music-home{
    margin-left: calc(100% - 210px);
  }

  .home-icon{
    max-width: 50px;
  }
}

/*projects section*/

.projects{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 2em 0;

}


.border-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.border-element-b{
  height: 25px;
  width: 25px;
  background-color: black;
}

.border-element-w{
  height: 25px;
  width: 25px;
  background-color: #d9d9d9;
}

.projects-text{
  margin-top: 20vh;
  margin-bottom: 10vh;
  text-align: center;
  font-family: var(--principal-font);
}

.projects h2{
  font-weight: 400;
  font-size: clamp(20px, 2vw, 32px);
  line-height: 0.3em;
  margin: 0;
}

.projects h1{
  @include section-titles;
}

.projects-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: clamp(10px, 2vw, 32px);
  gap: 2vh;
  justify-content: center;
}

.projects-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.projects button{
  @include button-style;
  align-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  
}

.projects button:hover{
  cursor: pointer;
  text-decoration: underline;
}
@media (max-width: 500px){
  .projects-container{
  
    align-items: center;
  }
}


.experience{
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.experience h1, .experience h3{
  text-align: right;
  line-height: 1.2em;
}

.experience h1{
  @include section-titles;
  
}

.experience h3{
  font-family: var(--principal-font);
  font-weight: 400;
  font-size: clamp(18px, 2vw, 40px);
  
}

.experience-container{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.line{
  background-color: white;
  width: 100%;
  height: 2px;
}

.education{
  min-height: 100vh;
  background-color: black;
  color: white;
  padding: 2em;
}

.education h1{
  @include section-titles;
}

.education h3{
  font-family: var(--sec-font);
  font-weight:100;
  font-size: clamp(26px, 2vw, 34px);
  line-height: 1.2em;

}

.dashed-line{
  width: 60%;
  height: 1px;
  margin-top: 1em;
  border-top: 1.5px dashed white;

}

.education-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.education-list{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.education-image{
  max-width: 400px;
  height: auto;
}

.education-visuals{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px){
  .education-visuals{
    display: none;
  }
}

.stack{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack h1{
  @include section-titles;
}

.stack-carousel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.stack-icon{
  max-width: 150px;
  height: auto;
  padding:0 5em;
}

@media (max-width: 800px){
  .stack-icon{
    max-width: 80px;
    height: auto;
  }
}



/*contact*/

.contact{
  padding: 2em;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.contact-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-player{
  width: 300px;
  height: 500px;
  background-color: #3d3d3d;
  border-radius: 50px;
}

.contact-form-container{
  display: flex;
  flex-direction: column;
}
.contact-form-container h1{
  font-family: var(--principal-font);
  font-weight: 900;
  font-size: clamp(40px, 8.3vw, 130px);
  text-align: right;
  margin: 0;
  
}

.contact-resume{
  width: 150px;
  align-self: center;
}

.contact-form{
  display: flex;
  flex-direction: column;
  padding:1em;
  font-family: var(--principal-font);
  background-color: #D9D9D9;
  min-height: 200px;
  border-radius: 30px;
  gap: 2em;
}

.contact-form input, .contact-form textarea{
  background-color: #ABABB0;
  border-radius: 30px;
  border: solid 0.5px white;
  outline: none;
  padding: 0.5em;
  height: 1rem;
  
}

.name-input input{
  width: 45%;
}

.email-input input{
  width: 95%;
}

.contact-form input:focus, .contact-form textarea:focus{
  border:solid 2px rgb(124, 122, 218) 
}

.contact-form input:hover, .contact-form textarea:hover{
  border:solid 0.5px rgb(183, 182, 218) 
}

.contact-form button{
  background-color: black;
  color: white;
  font-weight: 700;
}

.contact-form label{
 display: none;
}

.contact-form textarea{
  width: 95%;
  height: 10em;
}

.contact-resume{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: var(--principal-font);
  text-decoration: none;
  font-weight: 400;
  background-color: #F5F5F5;
  font-size: clamp(20px, 1.5vw,30px);
  color: black;
  border: 0 ;
  border-radius: 20px;
  width: 300px;
}

.contact-resume:hover{
  cursor:pointer;
  background-color: #888888;
  color:white;

}

.resume-icon{
  height: 40px;
  width: auto;
  align-self: center;
}