@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Montserrat:wght@400;500;700;800&display=swap');

:root{
  --principal-font:  'Montserrat', sans-serif;
  --sec-font: 'Courier Prime', monospace;
}

body, .app{
  margin:0;
  padding: 0;
  background-color: #d9d9d9;
}



/*home section*/

/*reminder: 100vw = 1440 px*/

.home{
  padding-top: 60px; /*nav height*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
}

.left-bar{
  background-color: black;
  color: #d9d9d9;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.left-bar h2{
  font-family: var(--sec-font);
  font-size: clamp(22px, 3.5vw, 50px);
  font-weight: 100;
  line-height: 10px;
}

.left-bar ul{
  list-style: none;
  font-family: var(--principal-font);
  font-size:  clamp(16px, 1.4vw, 22px);
  margin:0;
  margin-left: -35px;
}
.picture{
  max-width: 240px;
  height: auto;
  border-radius: 200px;
  align-self: center;
}

.left-bar h3{
  font-family: var(--sec-font);
  font-weight: 100;
  font-size:  clamp(16px, 1.4vw, 22px);
  text-decoration: underline;
  align-self: center;
}

.home-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-icon{
  max-width: 70px;
  height: auto;
  cursor: pointer;
}

.presentation{
  padding: 2em;
  display: flex;
  flex-direction: column;
}
.presentation h1{
  font-family: var(--principal-font);
  font-weight: 700;
  line-height:1.2em;
  font-size: clamp(40px, 4.9vw, 75px);
  margin-bottom: -20px;
}

.presentation h2{
  font-family: var(--principal-font);
  font-weight: 700;
  opacity: 0.8;
  font-size: clamp(32px, 2.45vw, 40px)
}

.presentation p{
  font-family: var(--sec-font);
  font-weight: 200;
  font-size: clamp(16px, 1.4vw, 25px);
  max-width: 550px;

}


.buttons-home{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:0.5em;
}

.buttons-home button{
  background-color: black;
  color: #d9d9d9;
  border: 0;
  width: 210px;
  height: 70px;
  font-family: var(--principal-font);
  font-size: clamp(18px, 1.3vw, 20px);
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.buttons-home button:hover{
  background: linear-gradient(to right, #888888, #3d3d3d);
  cursor: pointer;
}

.cta-home{
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  text-align: left;
}

.music-home{
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  text-align: right;
}

/*mq for home section, first breakpoint is for the left-bar presentation structure to mantain the aesthetics*/

@media (max-width: 1120px) {

  .left-bar {
    width: 100%; 
    text-align: center;
  }

  .presentation {
    width: 100%;
  }

  .presentation p{
    max-width: 1000px;
  }
  
}

@media (max-width: 500px){
  .buttons-home {
    flex-direction: row;
    justify-content: space-between;
  }

  .music-home{
    margin-left: calc(100% - 210px);
  }

  .home-icon{
    max-width: 50px;
  }
}

/*projects section*/

.projects{
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}

.border-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.border-element-b{
  height: 25px;
  width: 25px;
  background-color: black;
}

.border-element-w{
  height: 25px;
  width: 25px;
  background-color: #d9d9d9;
}

.projects-text{
  margin-top: 20vh;
  margin-bottom: 10vh;
  text-align: center;
  font-family: var(--principal-font);
}

.projects h2{
  font-weight: 400;
  font-size: clamp(20px, 2vw, 32px);
  line-height: 0.3em;
  margin: 0;
}

.projects h1{
  font-weight: 900;
  font-size: clamp(50px, 6.9vw, 105px);
  line-height: 0.1em;
}

.projects-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: clamp(10px, 2vw, 32px);
  gap: 2vh;
  justify-content: center;
}

.projects-column{
  
}
@media (max-width: 500px){
  .projects-container{
  
    align-items: center;
  }
}
